.overLord {
  @include outer-container;

}

.blogEntryContainer {

  .blogEntry {
    border: 1px solid orange;
    width: 30vw;
    height: 45%;
    margin: 1%;
    padding: 1%;
    float: left;
    img {
      height: auto;
      width: 70%;
    }
  }
}
.about {
  text-align: center;
  img {
    height: 25vh;
  }
}

.ribbit-wrap {
  text-align: center;
  p {
    font-size: 25px;
  }
  img {
    border-radius: 100%;
    &:hover {
      width: 100%;

    }
  }
}
