ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border: 1px inset green;
  margin: 0;
  padding: 2%;

  li {
    list-style: none;
    a {
      text-decoration: none;
      font-size: 2em;
    }
  }
}
