<div class="about">
  <h1>About Us</h1>

  <img src="http://blogs-images.forbes.com/davidewalt/files/2014/06/king-of-the-nerds-season-2-contestants.jpg">

  <p>Man braid semiotics forage vice stumptown, fanny pack taxidermy. IPhone street art photo booth celiac four loko, squid sartorial semiotics. Plaid cardigan food truck meggings. Try-hard squid truffaut single-origin coffee kitsch shabby chic, man braid chambray tofu. Single-origin coffee vegan sriracha bushwick, sartorial hammock banjo austin green juice kogi listicle scenester shabby chic locavore. Disrupt microdosing vinyl portland, typewriter ramps try-hard ugh irony. Single-origin coffee butcher polaroid umami health goth kickstarter, mumblecore tacos.</p>
</div>
