<nav>
  <ul>
    <li>{{#link-to 'index'}} Home {{/link-to}}</li>
    <li>{{#link-to 'about'}} About {{/link-to}}</li>
    <li>{{#link-to 'contact'}} Contact {{/link-to}}</li>
  </ul>
</nav>
<header>
  <h1>The RIBBIT <img src="assets/images/frogLogo.jpg"></h1>
</header>
<div class="overLord">
  {{outlet}}
</div>

<footer>
  &#169; Ribbiting Inc.
</footer>
